@import "preboot";

@imagePath: '../index_files';
@sectionWidth: 61.6em;
@pageWidth: 94em;

/*! normalize.css 2011-11-04T15:38 UTC - http://github.com/necolas/normalize.css */article,aside,details,figcaption,figure,footer,header,hgroup,nav,section{display:block}audio,canvas,video{display:inline-block;*display:inline;*zoom:1}audio:not([controls]){display:none}[hidden]{display:none}html{font-size:100%;overflow-y:scroll;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}body{margin:0}body,button,input,select,textarea{font-family:sans-serif}a:focus{outline:thin dotted}a:hover,a:active{outline:0}h1{font-size:2em}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:bold}blockquote{margin:1em 40px}dfn{font-style:italic}mark{background:#ff0;color:#000}pre,code,kbd,samp{font-family:monospace,serif;_font-family:'courier new',monospace;font-size:1em}pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word}q{quotes:none}q:before,q:after{content:'';content:none}small{font-size:75%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-0.5em}sub{bottom:-0.25em}ul,ol{margin-left:0;padding:0 0 0 40px}dd{margin:0 0 0 40px}nav ul,nav ol{list-style:none;list-style-image:none}img{border:0;-ms-interpolation-mode:bicubic}svg:not(:root){overflow:hidden}figure{margin:0}form{margin:0}fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}legend{border:0;*margin-left:-7px}button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline;*vertical-align:middle}button,input{line-height:normal}button,input[type="button"],input[type="reset"],input[type="submit"]{cursor:pointer;-webkit-appearance:button;*overflow:visible}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}textarea{overflow:auto;vertical-align:top}table{border-collapse:collapse;border-spacing:0}

/* For modern browsers */
.clearfix() {
	/* For IE 6/7 (trigger hasLayout) */
	*zoom:1;
	
	&:before,
	&:after {
		content:"";
		display:table;
	}
	
	&:after {
		clear:both;
	}
}

.cf { .clearfix; }
.invisible { visibility: hidden; }
.hidden	   { display: none; }

body {
	background: black;
	font-size: 	62.5%;
	font-family:Arial, Helvetica, sans-serif;
	
	>header {
		background: 	url('@{imagePath}/header-bg.png') repeat-x;
		border-bottom: 	1px solid #4D4B48;
	}
}

#body-bg {
	.linear-gradient.top-to-bottom(#3A3837, #000);
	width: 		100%;
	height: 	26em;
	position: 	absolute;
	z-index:	-1;
}

a { 
	color: 			#B0AEAC; 
	text-transform: uppercase;
	text-decoration:none;
}

ol, ul { list-style: none; }

#head {
	margin: 	0 auto;
	width:		@pageWidth;
	height:		10.4em;
	position:	relative;
	
	a { 
		color: #B8B6B4; 
		&:hover { color: white !important; }
	}
	
	li.active {
		background: black;
		background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);	 
		background:	   -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);	 
		background:		 -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);	 
		background:		-ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);	

		//filter:		~"progid:DXImageTransform.Microsoft.gradient( startColorstr=#00000000, endColorstr=#FF000000,GradientType=0 );
		
		//background: linear-gradient(top, hsla(189,31%,95%,1) 0%,hsla(190,32%,93%,1) 100%); /* W3C */
		
		
		a { color: white; }
	}
}		

#steam {
	ul { margin-top: 0; }
	a { 
		font-size: 	1.4em; 
		color: 		#B8B6B4;
		display: 	block;	
		padding: 	40px 7px 7px 7px;
	}
}	

#logo { 
	float: 	left; 
	margin:	3em 4em 0 0;
}

#actions {
	position: 	absolute;
	top: 		.5em;
	right: 		0;
	
	a { 
		text-transform: lowercase; 
		.crossBrowserInlineBlock;
		padding:		0 .5em;
		margin-top:		.2em;
		
		&#install {
			background: 	#647E4C;
			.linear-gradient.top-to-bottom(#70885A, #4E6C33);
			text-transform:	none;
			margin-top: 	0;
			padding:		.4em .5em;
			color:			#E5E4DC;
		}
	}
}

#login { border-right: 1px solid #B8B6B4; }

#language-dropdown {		 
	padding-bottom: .5em;
	.crossBrowserInlineBlock;
	
	#languages {
		display:	none;
		padding:	0;
		margin:		0;
		position:	absolute;
		width:		100%;
		right:		0;
		top:		1.6em;
		border:		1px solid #82807C;
		background: #3B3938;
		
		li {
			padding: .3em 1em;
			
			&:hover { background: #212D3D; }
		}
		
		a { 
			color: 			#E5E4DC;
			font-weight:	bold;
			text-transform:	none;
		}
	}
	
	&:hover #languages {
		display: block;
	}
}

article { 
	margin: 0 auto; 
	width:	@pageWidth;
}

.details {
	//display: 	none;
	border:		1px solid #82807C;
	background: #3B3938;
	position: 	absolute;
	width: 		30.5em;
	padding:	0.5em 1.5em 1.5em 1.5em;
	
	.tip { 
		position: 		absolute;
		z-index: 		2;
		top:			1.5em;
		left:			-1.5em;
				
		.triangle.west(1.5em, #82807C);
		
		.inner {				
			position: 		relative;
			top: 			-1.5em;
			left: 			2px;
			
			.triangle.west(1.5em, #3B3938);
		}
	}
	.content {
		color: #B0AEAC;
		font-size: 1.2em;
		
		h2 { 
			color: 		white;
			font-size: 	1.2em;
		}
		
		@spacing: .7em;
		.description { 
			margin-bottom: @spacing;
		}
		.genre { 
			margin-top:	0;
			padding-top:@spacing;
			border-top: 1px solid #82807C; 
		}
		
		.genre, .release { margin: .5em 0; }
		
		.specs { 
			padding: 	0;
			
			li { 
				background: 	#1A1A1A;
				padding: 		.4em .5em; 
				margin-bottom: 	.2em;
			}
		}
	}
}

.scroller-container { 
	overflow: 	hidden;
	border: 	1px solid #4D4B49; 
	*position:	relative;
}

.scroller { 
	position: relative;
	width: 1000em; 

	li {
		position: relative;
		border:	1px solid transparent;
		
		&:hover {
			border: 1px solid #8BB9E0 !important;
		}
	}
}
nav ul { padding: 0; }
nav li { 
	.crossBrowserInlineBlock;
}
		
#store {
	margin-top: 3em;	
	.linear-gradient.top-to-bottom(#595553, #6E6A69);
	
	ul { height: 3.5em; }
	li { 
		float:			left;
		border-right: 	1px solid black;
		height:			100%;
		line-height:	3.5em;
		
		&.active, &.active a:hover {
			.linear-gradient.top-to-bottom(#4D6D8D, #8AB7DE);
		}
		
		&#search { 
			float: 			right; 
			border-right:	0;
			border-left:	1px solid black;
			padding: 		0 1.2em;
		}
		
		a { 
			font-size: 	1.1em; 
			color:		white;
			padding: 	0 1.2em; 
			display:	block;
			height:		100%;
			
			&:hover { background: #4D4B49; }
		}
	}
	

	
	.sprite-platform_mac_16 { margin-right: .5em; }
}

#leftcol { 
	width: @sectionWidth;
	float: left;
	
	section { 
		width: 			100%; 
		position: 		relative;
		background: 	#262626; 
		margin-bottom: 	3em;
		
		> h1 {  
			font-size: 		1.2em;
			margin:			0;
			padding:		.5em 0 .5em 1.1em;
			color:			#D6D7D8;
			border-bottom:	1px solid black;
			
			.linear-gradient.left-to-right(#777571, #333);		
		}
		
		a {
			display: block;
		}
		
		.page, .slide { 
			margin:	0;
			padding:0;
			width:	@sectionWidth;
			
			li { float: left; }
		}
		
		footer { 
			overflow:	hidden;
			text-align: center;
			
			a { padding: .6em 1.5em; }
			.count { 
				position: 	relative;
				top:		.6em;
				color:		#626366;
			}
			
			.prev { 
				float: 			left; 
				border-right: 	1px solid black;
			}
			.next { 
				float: 			right; 
				border-left:	1px solid black;
			}
			
			.triangle { font-size: .9em; }
		}
	}
}

.see-all { 
	position:	absolute;
	top:		0;
	right: 		0;
	padding:	.7em 1.1em;
	border-left:1px solid black;
}

#spotlight {
	margin:		-.1em 0 2em 0;
	overflow: 	hidden;
	
	#spotlight-nav {
		position: 	absolute;
		width: 		100%;
		overflow:	hidden;
		z-index:	2;
		top:		2em;
		
		a {
			color: 		#8BB9E0;			
			padding:	.6em 0 .6em .6em;
			background: black;
			overflow:	hidden;
			
			.crossBrowserInlineBlock(middle);
		}
		
		.next { 
			padding:	.6em .6em .6em 0;
			text-align: right;
			float:		right;
		}
		
		.arrow {
			vertical-align: middle;
			
			&.west { 
				margin-right: 5px;
				.triangle.west(20px, #8BB9E0);
				
				.inner {
					position: relative;
					top:		-20px;
					left:		8px;
					
					.triangle.west(20px, black);
				}
			}
			
			&.east { 			
				margin-left: 5px;
				.triangle.east(20px, #8BB9E0); 
				
				.inner {
					position: 	relative;
					top:		-20px;
					left:		-28px;
					
					.triangle.east(20px, black);
				}			
			}			
		}
	}
	.scroller { 
		position: 	relative;
		height:		35.3em;
	}
	
	ul { 
		padding:0;
		margin:	0;
		height: 100%;
	}
	
	li { 
		float: left; 
		height:100%;
		
		
		&:hover { border: 1px solid transparent !important; }
	}
	
	.description { 
		position: 	absolute;
		bottom:		0;
		left:		0;
		width:		58.6em;
		background:	transparent;
		background:	rgba(0, 0, 0, .6);
		padding:	0 2em 0 1em;
		color:		white;
		//For IE 8
		-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
		//For IE 5.5 - 7
		filter:		~"progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
	
		h1 { margin-top: .5em; }
	}
	
	#scroller-control {
		background: #323232;
		position: 	relative;
		.sprite-slider;
		
		width: inherit;
		
		.handle {
			position: 	absolute;
			left:		0;
			
			&:hover { .sprite-slider-selected; }
		}
	}
}

.tabs { 
	.clearfix;
	margin: 		0;
	padding:		0;
	border-bottom: 	1px solid black;
	.linear-gradient.left-to-right(#777571, #333);
	
	li { 
		float: 			left; 
		padding:		.5em 1.2em;
		border-right: 	1px solid black;
		
		&.ui-tabs-selected { 
			background: 	#4D4B49; 
			padding-top:	.8em;
			margin-top:		-.3em;
			
			.border-radius-top(.5em);
			
			a { color: white; }
		}
	}
	
	a { font-size: 1em; }
}

#featured {	
	.scroller {	
		li {
			padding:1em .9em;
			float:	left;
			width:	18.4em;
		}
	}
	
	.page { 
		width: @sectionWidth; 
		float: left;
	}
}

#misc {
	.scroller-container{ height: 78em; }
	.scroller { 
		width:	inherit;
		height: 1000em; 
		li {	
			padding: 		1.5em;
			border-bottom: 	1px solid black;
			height:			4.6em;
			float:			none;
			
			&.even 	{ background: #1F1F1F; }
			&.odd 	{ background: #1A1A1A; }
		}
	}	
	
	img { 
		.crossBrowserInlineBlock; 
		
		& ~ div { 
			width: 		44em;
			margin-left:1.5em;
			text-transform:	none;
			
			.crossBrowserInlineBlock;
			
			h1 { 
				font-weight:	normal;
				margin:			0 0 .5em 0;
				font-size: 		1.4em;
				color:			white;
			}
			
			.sprite { vertical-align: middle; }
			
			p { 
				margin: 	0; 
				font-size: 	1.2em;
				
				.release { color: #626366; }
				
				.price { 
					float: 		right;
					margin-top: -.5em;
				}
			}
		}
	}
}

#videos, #demos {
	.slide { float: left; }
	.scroller {
		li { padding: .9em; }
		
		h2 { 
			margin-bottom:	0;
			width:			178px;
			position:		absolute;
			bottom:			1em;
			background:		transparent;
			background:		rgba(0, 0, 0, .6);
			font-size:		1.2em;
			font-weight:	normal;
			text-transform:	none;
			padding:		3px;
			color:			white;
			//For IE 8
			-ms-filter: 	"progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
			//For IE 5.5 - 7
			filter:			~"progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
		}
	}
}

#demos {
	.scroller {
		li { padding-top: 1.5em; }
		
		h2 {
			font-size:		1.4em;
			position: 		relative;
			//bottom:			0;
			text-overflow:	ellipsis;
			white-space:	nowrap;
			overflow:		hidden;
			background:		none;
		}
	}
}

#headlines {
	ol { 
		padding:	1.5em 0 1em 1.5em; 
		border:		1px solid #4D4B49;
		margin-top: 0;
		a { 
			color: 			white; 
			text-transform:	none;
			font-size:		1.4em;
			display: 		inline;
		}
		
		span { 
			color: 			#626366;
			text-transform: uppercase; 
		}
	}
	
	li { margin-bottom: 1em; }
	
}

#ie9 {
	#videos, #demos {
		h2 { filter: none; }
	}
	
	.description { filter: none; }
}

aside {
	width: 		30.8em;
	margin-left:1.5em;
	float:		left;
	
	> section {
		background: 	#262626;
		//border:		1px solid #262626;
		margin-bottom:	1.5em;
		
		
		> h1 { 
			color: 			#D6D7D8; 
			font-size: 		1.2em;
			padding:		.5em 1.1em;
			border-bottom:	1px solid black;
			margin:			0;
			
			.linear-gradient.left-to-right(#4B6D95, #2C3D53);
		}
		
		> .content {
			padding: 1.5em;
		}
	}
}

#community {
	p { margin: 0; }
	section { padding: 1.5em; }
	#activity {
		border-bottom: 	1px solid #3C3D3E;
		.clearfix;
		img { float: left; }
		div { 
			float: 		left; 
			margin-left:1em;
		}
	}
	
	#gamers-online { 
		font-size:	2.4em;
		color:		#8BB9E0;
	}
	
	#gamers-online-text {
		color: 			#626366;
		text-transform: uppercase;
	}
	
	#signin-join {
		color: #B0AEAC;
		
		p { 
			font-size: 		1.2em;
			margin-bottom: 	1em;
		}
	}
	
	#signin, #join {
		color:		white;
		padding:	.5em 1.2em;
		font-size:	1.2em;
		
		.linear-gradient.top-to-bottom(#85BC3C, #303C20);
		.crossBrowserInlineBlock(middle)
	}
	
	#signin { margin-right: .5em; }
	#join	{ margin-left: .5em; }
}

#deal {
	> div { 
		.linear-gradient.top-to-bottom(#537CA6, #8BB9E0); 
		padding: 0 .5em 1.5em .5em;
	}
	
	h1 { 
		color: 			white; 
		background: 	none;
		padding:		.5em 0 .5em .5em;
		text-transform:	uppercase;
		font-size:		1em;
		border-bottom:	1px solid #384959;
		margin:			0;
	}
	
	img {
		border-top: 1px solid #79A5CD;
		padding: .7em .5em 0 0;
	}
	
	#deal-savings { 
		background: 	#262626; 
		text-align:		right;
		padding-bottom: .7em;
	}
	
	#savings-container { 
		border: 	3px solid #3C3D3E;
		margin-top: 1em;
		height:		3.4em;
		overflow:	hidden;
		
		.crossBrowserInlineBlock;
	}
	
	.discount {
		background: #4C6B22;
		color:		white;
		font-size:	2.4em;
		padding:	.2em;
		
		float: left;
	}
	
	.price { 
		float: 		left; 
		padding: 	0 .3em;
		background: black;
		text-align:	left;
	}
	
	.original {
		text-decoration:line-through;
		color:			#626366;
		padding:		.2em .4em 0 .4em;
		font-size:		1.2em;
		display:		block;
	}
	
	.total {
		color:		white;
		font-size:	1.4em;
		display:	block;
		padding:	0 .2em .2em .2em;
	}
	
	#add-to-cart {
		display: 		block;
		float:			left;
		color:			white;
		height:			100%;
		line-height:	34px;
		font-size:		1.2em;
		border-left:	3px solid #3C3D3E;
		padding:		0 .7em;
		text-transform:	uppercase;
		
		.linear-gradient.top-to-bottom(#94C852, #4E6D23);
	}
}

#top-specials {
	ol {
		margin: 0;
		padding:0;
	}
	
	li { 
		margin-bottom:	.5em; 
		text-align:		right;	
		overflow:		hidden;
		
		a { float: left; }
	}
		
	.discount, .original, .total {
		position:	relative;
		top:		1.2em;
		font-size: 	1.2em;
	}
	
	.discount {
		background: #4C6B22;
		color:		white;
	}
	
	.original {
		background: 	black;
		text-decoration:line-through;
		color:			#626366;
		padding:		0 .4em;
	}
	
	.total {
		background: black;
		color:		white;
	}
	
	div.more {
		a { 
			padding: 		.2em .2em .2em 0;
			text-transform: none;
			font-size:		1.2em;
			background:		#262626;

			span { float: right; }
		}
	}
}
.ui-tabs-hide { display: none; }		
.sprite { 
	background: 	url('@{imagePath}/sprites.png') no-repeat top left;
	.crossBrowserInlineBlock(text-bottom);
}

.sprite-ico_coop{ background-position: 0 0; width: 26px; height: 16px; } 
.sprite-ico_multiPlayer{ background-position: -31px 0; width: 26px; height: 16px; } 
.sprite-ico_singlePlayer{ background-position: -62px 0; width: 26px; height: 16px; } 
.sprite-install{ background-position: -93px 0; width: 15px; height: 13px; } 
.sprite-platform_mac_16{ background-position: -113px 0; width: 16px; height: 16px; } 
.sprite-platform_steamplay{ background-position: -134px 0; width: 123px; height: 22px; } 
.sprite-platform_win{ background-position: -262px 0; width: 22px; height: 22px; } 
.sprite-platform_win_16{ background-position: -289px 0; width: 16px; height: 16px; } 
.sprite-slider-selected{ background-position: -310px 0; width: 60px; height: 13px; } 
.sprite-slider{ background-position: -375px 0; width: 60px; height: 13px; } 
