	/*! normalize.css 2011-11-04T15:38 UTC - http://github.com/necolas/normalize.css */article,aside,details,figcaption,figure,footer,header,hgroup,nav,section{display:block}audio,canvas,video{display:inline-block;*display:inline;*zoom:1}audio:not([controls]){display:none}[hidden]{display:none}html{font-size:100%;overflow-y:scroll;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}body{margin:0}body,button,input,select,textarea{font-family:sans-serif}a:focus{outline:thin dotted}a:hover,a:active{outline:0}h1{font-size:2em}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:bold}blockquote{margin:1em 40px}dfn{font-style:italic}mark{background:#ff0;color:#000}pre,code,kbd,samp{font-family:monospace,serif;_font-family:'courier new',monospace;font-size:1em}pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word}q{quotes:none}q:before,q:after{content:'';content:none}small{font-size:75%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-0.5em}sub{bottom:-0.25em}ul,ol{margin-left:0;padding:0 0 0 40px}dd{margin:0 0 0 40px}nav ul,nav ol{list-style:none;list-style-image:none}img{border:0;-ms-interpolation-mode:bicubic}svg:not(:root){overflow:hidden}figure{margin:0}form{margin:0}fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}legend{border:0;*margin-left:-7px}button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline;*vertical-align:middle}button,input{line-height:normal}button,input[type="button"],input[type="reset"],input[type="submit"]{cursor:pointer;-webkit-appearance:button;*overflow:visible}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}textarea{overflow:auto;vertical-align:top}table{border-collapse:collapse;border-spacing:0}
@imagePath: '../index_files';
body {
	background: black;
	font-size: 	62.5%;
	font-family:Arial, Helvetica, sans-serif;
	>header {
		background: 	url('@{imagePath}/globalheader_bg.jpg') repeat-x;
		border-bottom: 	1px solid #4D4B48;
	}
}

a { 
	color: 			#B0AEAC; 
	text-transform: uppercase;
	text-decoration:none;
}

ol, ul { list-style: none; }

#head {
	margin: 	0 auto;
	width:		60%;/*
	padding-top:2.6em;*/
	height:		10.4em;
	position:	relative;
	
	a { 
		color: #B8B6B4; 
		&:hover { color: white !important; }
	}
	
	li.active {
		background: black;
		background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);	 
		background:	   -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);	 
		background:		 -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);	 
		background:		-ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);	

		//filter:		~"progid:DXImageTransform.Microsoft.gradient( startColorstr=#00000000, endColorstr=#FF000000,GradientType=0 );
		
		//background: linear-gradient(top, hsla(189,31%,95%,1) 0%,hsla(190,32%,93%,1) 100%); /* W3C */
		
		
		a { color: white; }
	}
}		

#steam {
	ul { margin-top: 0; }
	a { 
		font-size: 	1.4em; 
		color: 		#B8B6B4;
		display: 	block;	
		padding: 	40px 7px 7px 7px;
	}
}	

#logo { 
	float: 	left; 
	margin:	3em 4em 0 0;
}

#actions {
	position: 	absolute;
	top: 		.5em;
	right: 		0;
	
	a { 
		text-transform: lowercase; 
		display: 		inline-block;
		*display:		inline;
		*zoom:			1;
		vertical-align:	top;
		padding:		0 .5em;
		margin-top:		.2em;
		
		&#install {
			background: 	#647E4C;
			text-transform:	none;
			margin-top: 	0;
			padding:		.4em .5em;
			color:			#E5E4DC;
		}
	}
}

#login { border-right: 1px solid #B8B6B4; }

#language-dropdown {		 
	display: 		inline-block;
	*display:		inline;
	*zoom:			1;
}

article { 
	margin: 0 auto; 
	width:	60%;
}

section a {
	padding: .5em;
	display: block;
}

.details {
	display: 	none;
	border:		1px solid #82807C;
	background: #3B3938;
	position: 	absolute;
	top:		0;
	right:		-100%;
}

nav ul { padding: 0; }
nav li { 
	display: 		inline-block;
	*display: 		inline;
	*zoome:			1;
	vertical-align: top;
}
		
#store {
	margin-top: 3em;
	background: url('@{imagePath}/store_header_gradients.png') repeat-x;
	background-position: 0px -122px;
	
	ul { height: 3.5em; }
	li { 
		float:			left;
		border-right: 	1px solid black;
		height:			100%;
		line-height:	3.5em;
		
		&.active {
			background: url('@{imagePath}/store_header_gradients.png');
		}
		
		&#search { 
			float: 			right; 
			border-right:	0;
			border-left:	1px solid black;
			padding: 		0 1.2em;
		}
	}
	
	a { 
		font-size: 	1.1em; 
		color:		white;
		padding: 	0 1.2em; 
		display:	block;
		height:		100%;
		
		&:hover { background: #4D4B49; }
	}
	
	.sprite-platform_mac_16 { margin-right: .5em; }
}

#leftcol { width: 70%; }
section { 
	overflow:	hidden;
	position: 	relative;
	background: #262626; 
}
section > h1 { 
	font-weight:bold; 
	font-size: 	1.8em; 
	color:		white;
}
.see-all { 
	position: 	absolute;
	top:		0;
	right: 		0;
}
.tabs { 
	overflow: hidden; 
	
	li { 
		float: left; 
		
		&.active { 
			background: #4D4B49; 
			
			a { color: white; }
		}
	}
	
	a { font-size: 1em; }
}

.scroller-container { border: 1px solid #4D4B49; }
.scroller { overflow: hidden; }

#misc { height: 50em; }
.scroller { width: 1000em; }
#misc .scroller { 
	width:	inherit;
	height: 1000em; 
}

.scroller li {
	position: relative;
}

.scroller a:hover {
	border: 1px solid #8BB9E0;
}

.scroller a:hover ~ .details { display: block; }

#featured .scroller li {
	display: 		inline-block;
	*display: 		inline;
	*zoom:			1;
	vertical-align: top;
}

.details {  }
		
.sprite { 
	background: 	url('@{imagePath}/sprites.png') no-repeat top left;
	display: 		inline-block;
	*display:		inline;
	*zoom:			1;
	vertical-align: text-bottom;
}

.sprite-ico_coop{ background-position: 0 0; width: 26px; height: 16px; } 
.sprite-ico_multiPlayer{ background-position: -31px 0; width: 26px; height: 16px; } 
.sprite-ico_singlePlayer{ background-position: -62px 0; width: 26px; height: 16px; } 
.sprite-install{ background-position: -93px 0; width: 15px; height: 13px; } 
.sprite-platform_mac_16{ background-position: -113px 0; width: 16px; height: 16px; } 
.sprite-platform_steamplay{ background-position: -134px 0; width: 123px; height: 22px; } 
.sprite-platform_win{ background-position: -262px 0; width: 22px; height: 22px; } 
.sprite-platform_win_16{ background-position: -289px 0; width: 16px; height: 16px; } 